:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;
  overflow: hidden;

  color-scheme: light dark;
  background-color: #242424;

  --primary-color: #2e0427;
  --primary-dark-color: #1f011a;
  --transparent-color: #00000000;
  --light-gray: #EBEBEB;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}